*	{
	margin-top: 0;
	padding: 0;
}

body	{

	/*font-family: 'Roboto', sans-serif;*/
}

#logo {
	float: left;
	margin-top: 10px;
	display: inline-block;
}

.topBackground {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("imgs/headerMain.jpg");
	width: 100%;
	height: 80vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	/*background: #8E0E00;  
	background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);   Chrome 10-25, Safari 5.1-6 
	background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
	float: right;
	list-style: none;
	display: inline-block;
	margin-right: 30px;
	/*position: fixed;*/
	/*top: 0;*/
}

.navbar li {
	display: inline-block;
	margin-left: 10px;
	color: white;
	margin-top: 40px;
}

.navbar li a {
	color: white;
	font-size: 90;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.navbar li a:hover {
	color: #9E0000;
	border-bottom: #9E0000 solid 2px;
	transition: all 0.3s ease-in;
	padding: 15px;
}

.welcome {
	position: absolute;
	color: #ffffff;
	text-transform: uppercase;
	width: 100%;
	top: 50%;
	left: 50%;
	margin-left: 20px;
	transform: translate(-50%, -50%);
	/*background-position: fixed;*/
}

.main-body h2 {
	text-align: center;
	font-weight: bold;
}

.main-body h2:after {
	width: 10%;
	height: 2px;
	background-color: #9E0000;
	display: block;
	content: " ";
	margin: auto;
	margin-top: 15px;
}

.body-p {
	width: 70%;
	margin: 20px auto;
	text-align: justify;
}

.gridStyle {
	text-align: justify;
	margin-top: auto;
	margin-bottom: 20px;
}

.container h4 {
	font-size: 20px;
	color: #9E0000;
	text-align: center;
}

#under-construction {
	position: inherit;
	transform: rotate(-25deg);
    top: 0px;
    right: 0;
    z-index: 2;
	max-width: 300px;
	max-height: 50px;
}

.showcase img {
	width: 100%;
	height: 100%;
}

.thumbnail	{
	height: 230px;
	transition: all 0.5s;
}

.thumbnail:hover{
	transform: scale(1.05);
}

.container #food {
	margin-left: 45%;
	font-size: 30px;
	color: #792a0a;
}
.container #party {
	margin-left: 45%;
	font-size: 30px;
	color: #792a0a;
}
.container #beer {
	margin-left: 45%;
	font-size: 30px;
	color: #792a0a;
}
.footer	{
height: 60px;
color: white;
font-size: 80%;
text-align: center;
line-height: 500%;
background: #8E0E00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

